<h1>Mr. Beer Administration Dashboard</h1>
<p>
	Registered user list<br>
	<a href="/">Go Back</a>
</p>
<table>
	<tr>
		<td>ID</td>
		<td>Email</td>
		<td>Price Percent</td>
		<td>Min Price</td>
		<td>Max Price</td>
		<td>Max Tab</td>
	</tr>
	<% User.all.each do |user| %><tr>
		<td><%= user.id %></td>
		<td><%= user.email %></td>
		<td><%= user.price_percent %></td>
		<td><%= user.min_price %></td>
		<td><%= user.max_price %></td>
		<td><%= user.max_outstanding_tab %></td>
	</tr><% end %>
</table>