<h1>Mr. Beer Administration Dashboard</h1>
<p>Current beer price: <strong>$<%= $beerprice.value %></strong> <%= link_to 'Change beer price', change_price_path %></p>
<p>
	Registered user list<br>
	<a href="/">Go Back</a>
</p>
<table>
	<tr>
		<th>ID</th>
		<th>Email</th>
		<th>Username</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Price Percent</th>
		<th>Min Price</th>
		<th>Max Price</th>
		<th>Max Tab</th>
		<th>Current Tab</th>
		<th>Admin Status</th>
		<th>Edit User</th>
		<th>Apply Payment/Charge</th>
	</tr>
	<% User.all.each do |user| %><tr>
		<td><%= user.id %></td>
		<td><%= user.email %></td>
		<td><%= user.username %></td>
		<td><%= user.nickname %></td>
		<td><%= user.format_phone %></td>
		<td><%= user.price_percent %>%</td>
		<td>$<%= "%0.2f" % user.min_price %></td>
		<td>$<%= "%0.2f" % user.max_price %></td>
		<td><%= user.format_max_tab %></td>
		<td><%= user.format_tab %></td>
		<td><%= user.admin.to_s.capitalize %></td>
		<td><%= link_to 'Edit', user_page_path(user) %></td>
		<td><%= link_to 'Edit', payment_page_path(user) %></td>
	</tr><% end %>
</table>